/*  leptop */
@media(min-width:300px) and (max-width:1200px){

*{
    font-size: xx-small;

}
    
body {
    overflow-x: hidden;
}
.img,.img2,.img3{
    width: 50px;
    height: 50px;
    
}
.BRAND-detail h1,.BRAND-detail2 h1,.BRAND-detail3 h1,.BRAND-detail4 h1{
    
}
.brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.BRAND-detail h1 {
    color: aliceblue;
    font-size: large;
    text-align: center;
}


    .img, .img2, .img3 ,.img5{
        width: 343px;
        height: 388px;
    }
    

    .BRAND-detail2 h1 {
        color: black;
        font-size: x-large;
        text-align: center;
    }
    .card2 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 71px;
    }
nav {
width: 100%;
    display: none;
}
 .hero, .hero2, .hero3, .hero4, .hero5, .hero6, .hero7, .hero8, .hero9, .hero10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
 }
 h1,h2,h3,h4,h5,h6{
   
        width: 648px;
       
        text-align: center;
        font-size: xx-small;
    }
    .container {
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
 .brand-img{
    width: 121px;
    height: 157px
 }
 .card , .Card2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
}